<!--The ng-controller directive tells Angular the scope of the controller. In this case, the TimelineCtrl is given
the scope of the <div> element where it is called. We then use TimelineCtrl (as ctrl) to manipulate elements within
this <div>-->
<div ng-controller="TimelineCtrl as ctrl">
    <div class="page-header">
        <h1>
            <small>Timeline</small>
        </h1>
    </div>
    <br>

    <!--Search UI-->
    <!-- Creates Input Form and fields for uesr to enter search string -->
    <form name="queryForm" class="form-inline">Personal Dashboard
        <div class="form-group">
            <input id="m1" class="form-control" type="text"
                   name="m1"
                   ng-model = "ctrl.m1"
                   size="2"
                   placeholder="m1">
            <input id="m2" class="form-control" type="text"
                   name="m2"
                   ng-model = "ctrl.m2"
                   size="2"
                   placeholder="m2">
            <input id="m3" class="form-control" type="text"
                   name="31"
                   ng-model = "ctrl.m3"
                   size="2"
                   placeholder="m3">
            <input id="m4" class="form-control" type="text"
                   name="m4"
                   ng-model = "ctrl.m4"
                   size="2"
                   placeholder="m4">
        </div>
    </form>
    <!--{{ ctrl.searchString }}-->

    <div class="form-group">
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m1
            </button>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m2
            </button>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m3
            </button>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.search()">
                m4
            </button>
            <button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                    ng-click="ctrl.messaging()">
                Messaging
            </button>              
    </div>
    <div>
        <a href="http://www.straitstimes.com/singapore/manpower/55-deaths-and-all-were-preventable"></a>
    </div>
    <hr>
    <!-- Creates area to display search result-->
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Date</th>
            <th>Comment</th>
        </tr>
        </thead>
            <tbody class="panel panel-default">
            <!--ng-repeat directive repeats an HTML element a number of times. The syntax ng-repeat = "x in y" allows us
            to iterate through an array or object. In the case below, we are iterating through the contents of the array
            of objects ctrl.departments, dept is assigned an instance (i.e, an object) of the array-->
            <tr class="animation" ng-repeat="i in ctrl.comment | orderBy: i.name | filter:ctrl.searchString">
                <td>{{ i.date }}</td>              <!-- ctrl.comment.txt -->
                <td>{{ i.txt }}</td> 
                <td>
                    <!--<button type="submit" class="btn btn-info form-control" ng-disabled="queryForm.$invalid"
                        <a href="http://localhost:3000?pdt.id">
                    Edit</a>
                    </button>-->
                </td>         
        
            </tr>
            </tbody>
    </table>
    <form name="commentForm" novalidate ng-submit="ctrl.create(ctrl.data.id)" class="comment">
        <textarea ng-model="ctrl.comment.txt" maxlength="1500" required placeholder="Add a Comment"></textarea>
        <span class="characters">{{1500 - ctrl.commentForm.text.length}} characters remaining..</span>

        <div class="container" ng-controller="UploadCtrl as uploadCtrl">
        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-offset-3">
                <!--<h2>Upload File</h2>-->
                <form name="UploadForm" novalidate ng-submit="uploadCtrl.upload()" autocomplete="off">
                    <div class="form-group">
                        <!-- Select file to upload. Single file only. Accepts only images-->
                        <input id="file" type="file" ng-model="uploadCtrl.imgFile" ngf-select ngf-pattern="'image/*'" ngf-accept="'image/*'">
                        <!-- Upload button. Click to upload images -->
                        <button class="btn btn-default" type="submit">Upload</button>
                    </div>
                    <div class="form-group">
                        <!-- Thumbnail preview of image to upload. -->
                        <img ngf-thumbnail="uploadCtrl.imgFile" width="100px" class="img-thumbnail">
                        
                    </div>

                    <!--<div class="form-group">
                    </div>-->

                    <!-- Success and error flash messages. Logic based on status code returned after POST request -->
                    <div class="alert" role="alert" alert-dismissable ng-show="uploadCtrl.status.code" ng-class="{'alert-success': uploadCtrl.status.code == 202, 'alert-danger': uploadCtrl.status.code == 400 }">
                        <button class="close" data-dismiss="alert">
                        <!-- data dismiss removes the element. This alert won't show up again before refreshing -->
                        &times;
                        </button> {{ uploadCtrl.status.message }}
                    </div>
                </form>
            </div>
        </div>

        <div>
            <input type="submit" class="btn btn-danger pull-right"/>
        </div>
    </form>
</div>